@import "./typography/typography.scss";

#imacSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  min-height: 480px;
  margin-bottom: 35px;
  background: url("../images/imac-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;

  .title {
    padding: 40px 0 0;
    font-size: $font-size-title-small;
    font-weight: 600;
    line-height: 1.2;
    color: black;
    text-align: center;
    width: 100%;
    max-width: 90%;
  }

  .subText {
    padding: 5px 0 0;
    font-size: $font-size-subtext-small;
    color: $text-clr-gray;
  }

  .links {
    padding: 5px 0 0;
    width: 100%;
    text-align: center;

    :nth-child(1) {
      padding-right: 15px;
    }

    .link {
      text-decoration: none;
      color: $link-clr-blue;
      font-size: $font-size-link-small;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//media queries
@media (min-width: 730px) {
  #imacSection {
    background: url("../images/imac-medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 490px;

    .title {
      font-size: $font-size-title-small-grid;
    }
    .subText {
      font-size: $font-size-subtext-small-grid;
    }

    .links {
      .link {
        font-size: $font-size-link-small-grid;
      }
    }
  }
}

@media (min-width: 1000px) {
  #imacSection {
    background: url("../images/imac-large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;

    .title {
      font-size: $font-size-title-medium-grid;
    }
    .subText {
      font-size: $font-size-subtext-medium-grid;
    }

    .links {
      .link {
        font-size: $font-size-link-medium-grid;
      }
    }
  }
}
