@import "./typography/typography.scss";

#iphone12Pro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  background: url("../images/iphone-12-pro-hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    padding: 40px 0 0;
    font-size: $font-size-title-small;
    font-weight: 500;
    color: white;
    width: 100%;
    text-align: center;
  }

  .subText {
    font-size: $font-size-subtext-small;
    color: white;
    padding: 5px 0 0;
  }

  .price {
    padding: 5px 0 0;
    font-size: $font-size-price-small;
    text-align: center;
    color: $text-clr-gray;
    width: 100%;
    max-width: 250px;
  }

  .links {
    padding: 5px 0 0;
    width: 100%;
    text-align: center;

    :nth-child(1) {
      padding-right: 15px;
    }

    .link {
      text-decoration: none;
      color: $link-clr-blue;
      font-size: $font-size-link-small;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//media queries
@media (min-width: 730px) {
  #iphone12Pro {
    background: url("../images/iphone-12-pro-hero-medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    height: 80vh;

    .title {
      font-size: $font-size-title-medium;
    }

    .subText {
      font-size: $font-size-subtext-medium;
    }

    .price {
      font-size: $font-size-price-medium;

      max-width: 100%;
      br {
        display: none;
      }
    }

    .links {
      .link {
        font-size: $font-size-link-medium;
      }
    }
  }
}

@media (min-width: 1000px) {
  #iphone12Pro {
    background: url("../images/iphone-12-pro-hero-large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
      font-size: $font-size-title-large;
    }

    .subText {
      font-size: $font-size-subtext-large;
    }

    .price {
      font-size: $font-size-price-large;
    }

    .links {
      .link {
        font-size: $font-size-link-large;
      }
    }
  }
}
