@import "./typography/typography.scss";

#iwatchSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  background: url("../images/watch-series-6-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;

  .watch-logo {
    padding: 40px 0 0;
    width: 100%;
    max-width: 150px;
  }

  .subText {
    padding: 5px 0 0;
    width: 100%;
    text-align: center;
    font-size: $font-size-subtext-small;
    color: white;
    max-width: 90%;
  }

  // .price {
  //   position: absolute;
  //   top: 24%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   font-size: 16px;
  //   text-align: center;
  //   color: $text-clr-gray;
  // }

  .links {
    padding: 5px 0 0;
    width: 100%;
    text-align: center;

    :nth-child(1) {
      padding-right: 15px;
    }

    .link {
      text-decoration: none;
      color: $link-clr-blue;
      font-size: $font-size-link-small;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//media queries
@media (max-width: 370px) {
  #iwatchSection {
    .watch-logo {
      width: 100px;
    }

    .subText {
      font-size: 15px;
    }
  }
}

@media (min-width: 730px) {
  #iwatchSection {
    background: url("../images/watch-series-6-medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 490px;

    .links {
      .link {
        font-size: $font-size-subtext-small-grid;
      }
    }

    .subText {
      font-size: $font-size-subtext-small-grid;
    }
  }
}

@media (min-width: 1000px) {
  #iwatchSection {
    background: url("../images/watch-series-6-large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;

    .links {
      .link {
        font-size: $font-size-link-medium-grid;
      }
    }

    .subText {
      font-size: $font-size-subtext-medium-grid;
    }
  }
}
